.nav-link {
  text-transform: uppercase;
  color: black;
  border-right: 1px solid black;
  margin-right: 25px;
  padding-right: 25px;
}
.nav-link:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}
