.menu {
  display: flex;
  height: 130px;
  align-items: center;
}

.menu-logo {
  width: 50%;
}

.navbar {
  display: block;
  width: 50%;
  text-align: right;
}

.navbar-item {
  text-transform: uppercase;
  color: black;
  border-right: 1px solid black;
  margin-right: 25px;
  padding-right: 25px;
}
.navbar-item:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}
