<div class="wrapper-singin">
  <div class="container-singin">
    <h2 class="banner">Sing In</h2>
    <form class="form">
      <div class="form-group">
        <label for="email">Enter your email or phone number</label>
        <input
          type="text"
          class="form-control"
          placeholder="Email/Phone number"
        />
      </div>
      <div class="form-group">
        <label for="email">Enter your password</label>
        <input type="password" class="form-control" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-success btn-submit">Enter</button>
    </form>
    <div class="addition">
      <a href="#" class="btn-add">Registration</a>
      <a href="#" class="btn-add">Forgot password?</a>
    </div>
  </div>
</div>
