.wrapper-singin {
  background-color: #e3c364;
  padding: 50px 0;
}

.container-singin {
  margin: 0 auto;
  width: 450px;
  font-size: 20px;
}

.banner {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
}

.btn-submit {
  width: 100%;
  text-transform: uppercase;
}

.addition {
  display: flex;
  justify-content: space-between;
}

.btn-add {
  color: black;
}
