<div class="container_about">
  <h2 class="banner">About us</h2>
  <div class="about_content">
    <div class="about_desc">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus.<br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Donec quam felis, ultricies nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
        enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
        dictum felis eu pede mollis pretium.<br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integer tincidunt. Cras dapibus. Vivamus
        elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
        ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
        ante, dapibus in, viverra quis, feugiat a,
      </p>
    </div>
    <div class="about_pic">
      <!-- <img src="img/pic1.jpg" alt="#" /> -->
    </div>
  </div>
</div>
